<h1>Universo de cartas</h1>
<!-- <h2>ALIENÍGENAS</h2> -->
<h2>Conoce las características de todos los personajes del universo de Star Wars para saber qué podrías ganar.</h2>

<div class="container">
    <div class="row">
      <div class="card" style="width: 18rem;" *ngFor="let card of allCards" class="border rounded mx-2 px-3" 
      style="display: flex;width: 18rem;flex-direction: column;align-items: center;">
          <img src={{card.url}} class="card-img-top my-3" alt="imagen de carta">
          <div class="card-body" style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;">
            <h2 class="fw-semibold">{{card.name}}</h2>
            <h3 class="fw-semibold">Tipo de personaje: {{card.tipo}}</h3>
            
            <p class="card-text">{{card.descripcion}}</p>
            <button class="btn btn-primary mb-3 w-100" (click)="verDetalle(card.ident)">Ver detalle</button>
            
          </div>
        </div>
    </div>
  </div>
