<p>cards-detalle works!</p>

<!-- <mat-card class="my-card">
    <mat-card-header>
      <div mat-card-avatar class="my-header-image"></div>
      <mat-card-title>{{alumno?.nombre}} {{alumno?.apellido}}</mat-card-title>
      <mat-card-subtitle>5TO AÑO</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="" alt="Photo of a student">
    <mat-card-content>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit obcaecati non aliquam optio numquam sit perferendis, 
        impedit esse corrupti id quasi itaque nisi, consequatur natus facilis quod veniam? Distinctio, eos!
      </p>
      <p>FECHA DE REGISTRO: {{alumno?.fecha_registro}}</p>
    </mat-card-content>
  
    <a mat-button [routerLink]="['/dashboard/inscripciones']">Ver inscripciones</a>
  
  </mat-card> -->
