<div class="containe" *ngIf="showRoulette">
    <h2>¡Suerte con la categoría de tu personaje!</h2>
    <div class="row text-center">
        <div class="col-md-12 mt-2">
            <div class="vara"></div>
            <img src = "./../../../../assets/image/ruleta-categorias.png" class="img-fluid cursor" #ruleta (click)="girar()">
        </div>
    </div>
    <div>
        <audio #audio src="./../../../../assets/sonido/ruleta.mp3"></audio>
    </div>
</div>

<div *ngIf="!showRoulette">
    <router-outlet></router-outlet>
</div>